<%
    function navItem_url(menuItem){
        return url_for(menuItem.path);
    }

    // 是否当前页
    function isCurrent(menuItem){
        console.log(navItem_url(menuItem) + 'index.html');
        console.log(url_for(page.path));
        return (navItem_url(menuItem) + 'index.html') === url_for(page.path);
    }
%>

<li class="nav-item<%- isCurrent(item) ? ' active' : '' %>" style="<%- item.hidden ? 'display: none;' : '' %>">
    <a href="<%- navItem_url(item) %>"><%- __('nav.' + item.code) %></a>
</li>